@import "tailwindcss";
.wrapper{
    border-radius: 10px;
    height: 300px;
    border: solid rgb(228, 229, 231);

}

img{
    border-radius: 10px 10px 0px 0px;
}

p{
    font-family: sans-serif;
}
button{
    font-family: sans-serif;
    border-radius: 10px;
    border: none;
}